WITH conv AS (SELECT id, organization_id FROM conversations LIMIT 1), new_msg AS (INSERT INTO messages (conversation_id, sender, direction, content, status) SELECT id, 'User', 'inbound', '{\
type\: \text\, \text\: \Hola
prueba
simulada
en
local!\}'::jsonb, 'delivered' FROM conv RETURNING *) UPDATE conversations SET last_message_preview = 'Hola, prueba simulada en local!', last_message_at = NOW(), unread_count = unread_count + 1 WHERE id = (SELECT id FROM conv);
